
      footer {
       background-color: #000;
       width: 100%;
       height: 570px;
}





h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}


h2 {
    text-decoration: underline;
    
 

  
footer {
  background-color: #000;
  width: 100%;
  height: 545px;
}


