.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}


.btn {
    width: 280px;
    background: none;
     color: green;
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
    margin: 12px 0;


 }

.centered {

text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}



.centere {


text-align: center;
    padding-top: 100px; 
	font-size: 50px;
	text-color: white;




  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}


