{% extends "base.html" %} 
{% block title %}Talk to us{% endblock %}
{% block body %}
<title>Talk to us</title>
     
<div class="container">
<p>



    <p>Principal : Evang. (Mrs) Ajibola Stella Sefunni</p>

<h3>You can contact us via our email and phone number : 08035520924 and 07054546477
<p>
<h3>Admission is on for 2019/2020 academic session,so come and register your ward in our school</h3>
</p>
<p>

       <img src="https://scontent.fabv2-1.fna.fbcdn.net/v/t1.0-9/fr/cp0/e15/q65/60249853_378079032796834_1355974819488727040_n.jpg?_nc_cat=108&efg=eyJpIjoidCJ9&_nc_eui2=AeEGGiUXEq0_BqcGf0_m32mxEK_9Ej4Qo7XlWW9FwMCh3g0I0RzdYdOQ3-l8jJkmQpZsnPeBDr8YeLN4sk2q0ndsR6KbdDnQBvk1jjjiLDW5T13T2z4vI7IXY2WXRCNDQx4&_nc_ht=scontent.fabv2-1.fna&oh=e83edc9c74866a31792323fdbc948035&oe=5D73A14F" width='300'><p>
      Messiah High School is located at 1 Messiah Avenue, Off Onyearugbulem Market Road, P.O.Box 2045 Akure,Ondo State
       </p>
       
       
       <p>
       </p>
       

                </footer>               
      
        <!-- Footer -->
        <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center ">Messiah High School</p>        
    {% endblock %}