{% extends "base.html" %} 
{% block title %}Reset Password{% endblock %}
{% block body %}

  
         <h2>Reset Password</h2>
         <br>
         <h5>Forgotten your password? Enter your email and we will send the instructions fro creating a new one</h5>
   <form method="post">
        
{% csrf_token %}
    {{ form.as_p}}

  <input style="background-color: green;" type="submit" value="Reset Password" class="btn btn-primary"/> </center>      
                      
  

{% endblock %}
   